
@{
    ViewBag.Title = "Société";
    Layout = "~/Views/Shared/Site_Layout.cshtml";
}
<br/>
<div id="societe" class="mx-4" > 
<h2 class="title decoratetitle mx-2">La société</h2>
    <div class="media Box">     
            <img class="m-2 order-11" src="~/Images/5.jpg" height="300" width="350" alt="Generic placeholder image">
            <div class="media-body text ml-2">
                Elitr sit erat consetetur et est accusam vero dolores tation ipsum takimata et kasd
                eos sit aliquyam labore ullamcorper sanctus vel et stet veniam accumsan vulputate
                orem minim et esse dolores at ipsum dolore et eirmod iusto elitr assum duo dolor
                praesent diam tempor dolore tempor diam luptatum consequat elitr te consequat 
                onsequat vulputate dolore assum et duo ex ipsum dolor tincidunt sed magna no at tempor
                labore dolore dolor takimata tempor nonummy eirmod diam ea dolore voluptua sed et 
                ebum accusam in quis at wisi diam eum et in ipsum lorem facilisi diam ad cum nibh no
                consequat sea eu voluptua qui ut ut velit et option stet quis takimata sea diam dolore
                labore lorem dolor option takimata laoreet lorem at sea at sit ut lorem dolor nonumy
                vero nisl takimata vel in labore esse sit facer at tempor delenit imperdiet sit et
                dolor sed rebum eos accusam dolor commodo voluptua dolor accusam no placerat qui erat
                eos nobis exerci consequat gubergren eirmod ipsum consequat erat magna sit no autem
                aliquyam at et voluptua dolore ullamcorper et eos lorem molestie et dolor eirmod elitr
                nonummy eos sed erat nulla ut facer dolores vero eum ut invidunt dolor stet amet diam
            </div>
        
    </div>
</div>
<div>
    <span class="decoratesubtitle mx-2">Les secteurs</span> 
    <p class="ligne"></p>
    <div id="secteur" class="text">
Woe a delight himnot which where olden in was change nor scape loathed from at tear disporting sun fellow losel that dwelt loved labyrinth none sighed nor a still a though low he brow once in sought me despair full in yea before vast birth alone but whence a nor parting vaunted thou hill woe bliss none harolds hill ye loathed a bliss the glee ever was vile wight and that grace when domestic of een his noontide sad he ever his basked bower there fulness and where uncouth sight loved thy things weary where might fulness hight to heart
    </div>
    
</div>



@section scriptsection{
}
