
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Site_Layout.cshtml";
}

<h2>Index</h2>
<div>société</div>
@section scriptsection{
    <script src="~/Script/carousel.js"></script>
    <script src="~/Script/jquery3.min.js"></script>
    <script src="~/Script/bootstrap.min.js"></script>
}

