
@{
    ViewBag.Title = "NotAuthorized";
    Layout = "~/Views/Shared/Site_Layout.cshtml";
}


<br /><br /><br /><br />
<div style="margin:auto;width:60%">
    
    @Html.ActionLink("Panneau de control", "Admin", "Connection", new { area = "" }, new { @class = "btn btn-primary" })<br/><br />
<div class="card mx-auto">
    <div class="card-body text-center">
        <h3>Vous n'êtes pas authorisés à avoir accès.</h3>
    </div>
</div>
    <br/><br /><br /><br />
</div>