/* Move down content because we have a fixed navbar that is 50px tall */
.ImgStyle {
    box-shadow: 1px 1px 1px 1px rgba(33, 114, 16, 0.842);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.page {
    padding: 50px 50px 20px 50px;
    background-color: rgba(128, 128, 128, 0.52);
    height:100%;
}
.TitleImg{
    width:100%
}
.centrer{
    text-align:center;
    
}
.descriptitle{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:larger;
    font-weight:700;
    text-align:center
}
.Conteneur {
    padding:1px /*0px 0px 0px*/;

    box-shadow: 2px 2px 2px 1px rgba(145, 151, 147, 0.568);
    margin:0;
}
hr{
    display:block;
    border-style:ridge;
    border-width:1px;
    border-color:brown;
}
footer{
    padding-left:10px;
    padding-bottom:5px;
}
/* Set widths on the form inputs since otherwise they're 100% wide */

.BoxStyle {
    box-shadow: 2px 2px 3px 1px rgba(145, 151, 147, 0.568);
}
.Box {
    box-shadow: 1px 1px 6px 0px black;
}
.WayFrmTop{
    margin-top:40px;
    margin:0px;
}
.CardStyle{
    width:auto;
    height:auto;
}
.Dropdown-submenu{
    position:relative;
}
.Dropdown-submenu a::after{
    transform:rotate(-90deg);
    position:absolute;
    right:6px;
    top:.8em;
}
.Dropdown-submenu .dropdown-menu{
    top:0;
    left:100%;
    margin-left:.1em;
    margin-right:.1em;
}
.SiteColor{
    color:darksalmon;
}
.TopFloat {
    position: absolute;
    right: 0;
    top: 20px;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.BottomFloat {
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.66);
}
.title{
    font-family:'Century Gothic Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:larger;
    font-weight:800
}
.test{
    margin: 2px 20px 2px 20px;
    padding:10px
}
.imgbord{
    width:100%
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .test {
        margin: 2px 200px 2px 200px;
        padding:40px
    }
    .body-content {
        padding: 0;
    }
}
