@{
    Layout = "~/Views/Shared/Site_Layout.cshtml";
}

<div class="row WayFrmTop">
    
        <div id="slides">
            <img src="~/Images/1.jpg" style="height:100%">
            <img src="~/Images/2.jpg" style="height:100%">
            <img src="~/Images/3.jpg" style="height:100%">
            <img src="~/Images/4.jpg" style="height:100%">
            <img src="~/Images/5.jpg" style="height:100%">
            <img src="~/Images/6.jpg" style="height:100%">
            <img src="~/Images/7.jpg" style="height:100%">
        </div>
    
</div>
<div style="padding-left:10px;padding-right:10px">
  <div class="card">

  </div>
</div>
